<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://java.sun.com/jsp/jstl/core">

<head>
    <meta charset="UTF-8"/>
    <title>Видавництва</title>
    <meta name="viewport" content="width=device-width, initial-scale=2"/>
    <script src="/public/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script src="/public/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="/public/js/validator.js" th:src="@{/js/validator.js}"></script>
    <link rel="stylesheet" href="/public/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="icon" href="/public/img/icon.ico" th:href="@{/img/icon.ico}"/>
    <style>
        .navbar {
            margin-bottom: 10px;
            border-radius: 0;
        }
        .jumbotron {
            margin-bottom: 0;
        }
    </style>
</head>
<body>

<header th:replace="admin/layout :: admin-header"></header>

<div th:replace="admin/layout :: admin-nav"></div>

<div class="container text-center">

    <div class="table-responsive" align="center">
        <table class="table">
            <thead>
            <tr>
                <th>Назва</th>
                <th>Сайт</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <th:block th:each="publisher : ${publishers}">
                <tbody>
                <td th:text="${publisher.title}"></td>
                <td th:text="${publisher.site}"></td>
                <td>
                    <a th:href="@{/details/publisher (publisherId = ${publisher.publisherId})}">
                        <button type="button" class="btn btn-default">Детальніше</button>
                    </a>
                </td>
                <td>
                    <a th:href="@{/admin/edit/publisher(publisherId= ${publisher.publisherId})}">
                        <button type="button" class="btn btn-default">Редагувати</button>
                    </a>
                </td>
                <td>
                    <a th:href="@{/admin/delete/publisher (publisherId = ${publisher.publisherId})}">
                        <button type="button" class="btn btn-default">Видалити</button>
                    </a>
                </td>
                </tbody>
            </th:block>
        </table>
    </div>
    <br/>
    <a href="/admin/add/publisher.html" th:href="@{/admin/add/publisher}">
        <button type="button" class="btn btn-default">Нове видавництво</button>
    </a>
</div>

</body>
</html>