<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://java.sun.com/jsp/jstl/core">

<head>
    <meta charset="UTF-8"/>
    <title>Замовлення</title>
    <meta name="viewport" content="width=device-width, initial-scale=2"/>
    <script src="/public/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script src="/public/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="/public/js/validator.js" th:src="@{/js/validator.js}"></script>
    <link rel="stylesheet" href="/public/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="icon" href="/public/img/icon.ico" th:href="@{/img/icon.ico}"/>
    <style>
        .navbar {
            margin-bottom: 10px;
            border-radius: 0;
        }
        .jumbotron {
            margin-bottom: 0;
        }
    </style>
</head>
<body>

<header th:replace="layout :: header"></header>

<div th:replace="layout :: nav"></div>
<div class="container">
    <h3><strong>Час замовлення: </strong></h3>
    <h4 th:text="${order.date}" id="title"></h4>
    <h3><strong>Вартість замовлення: </strong></h3>
    <h4 th:text="${order.amount} + 'грн.'" id="title"></h4>
</div>
<div class="container text-center">

    <div class="table-responsive" align="center">
        <table class="table">
            <thead>
            <tr>
                <th>Назва</th>
                <th>Ціна</th>
                <th>Кількість</th>
                <th></th>
            </tr>
            </thead>
            <th:block th:each="orderBook : ${orderBooks}">
                <tbody>
                <td th:text="${orderBook.book.title}"></td>
                <td th:text="${orderBook.book.price}"></td>
                <td th:text="${orderBook.quantityOfBooks}"/>
                <td>
                    <a th:href="@{/delete_book_from_order (bookId = ${orderBook.bookId})}">
                        <button type="button" class="btn btn-default">Видалити</button>
                    </a>
                </td>
                </tbody>
            </th:block>
        </table>
    </div>
    <br/>
</div>

</body>
</html>